/************ Nav Bar **************/

.navbar{
  width:100%;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 14px;
  padding-left: 19%;
  padding-right: 19%;
  height: 80px;

}
.nav li{
  text-align: center;
  padding:1%;
  display: inline-block;
  font-weight: bold;
}
.in li{
  display: block;
  text-align: right;
}
.navbar-collapse.in a:hover{
  border-bottom: none;
  color: skyblue!important;
}
.nav a{
  color: rgba(255,255,255,0.8) !important;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  font-size: 14px;
}
.nav a:hover{
  opacity: 1;
  color: white !important;
  border-bottom: 2px solid white;
}
a.active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
  color: white;
  opacity: 1;
}
.min{
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fade {
  from {background-color: transparent;}
  to {background-color: rgba(60,60,60,0.9);}
}

@keyframes fade {
  from {background-color: transparent;}
  to {background-color: rgba(60,60,60,0.9);}
}
.minfade{
  -webkit-animation-name: fadeBG;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeBG;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeBG {
  from {background-color: rgba(60,60,60,0.9);}
  to {background-color: transparent;}
}
@keyframes fadeBG {
  from {background-color: rgba(60,60,60,0.9);}
  to {background-color: transparent;}
}
.collapsing,
.in {
  background-color: rgba(60,60,60,0.9);
}
/************ Home Section **************/

#header {
  height: 700px;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
q: before,
q: after{
  content: '';
}

@-webkit-keyframes blink-it{
  0%{opacity:1}
  50%{opacity:0}
  100%{opacity:1}
}
@keyframes blink-it{
  0%{opacity:1}
  50%{opacity:0}
  100%{opacity:1}
}
.blink{
  -webkit-animation:blink-it steps(1) 1s infinite;
  animation:blink-it steps(1) 1s infinite;
}
.typeContain{
  width: 100%;
  margin-top: 325px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
}
.typeContain p{
  font-size: 36px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-weight: 300;
}

/************ About Section **************/

#About{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(60,60,60);
}
.portrait{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 3px 3px 15px #444;
}
.name{
  text-align: center;
  margin-top: -10px;
  color: gray;
  font-weight: bold;
}
.head{
  margin-bottom: 30px;
}
.skill{
  margin-top: 60px;
}
/************ Work Section **************/

#Work{
  background-color: gray;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
}
#Work h4{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-outline {
  color: #808080;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: steelblue;
  background: #808080;
  border: solid 2px white;
}
i {
  color: white;
}

/************ Skills Section **************/

.skills{
  text-align: center;
}

.skills img{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.logoHold{
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 40px;
}
.skills p{
  padding-top: 15%;
  font-size: 80%;
  color: gray;
  font-weight: 400;
  letter-spacing: 2px;
}
.pContain{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@-webkit-keyframes showP {
  from {opacity:0}
  50% {opacity:0}
  to {opacity:1}
}
@keyframes showP {
  from {opacity:0}
  50% {opacity:0}
  to {opacity:1}
}
.showP{
  -webkit-animation-name: showP;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: showP;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes flipOut {
  from {transform: perspective(400px);}
  30% {transform: perspective(400px) rotate3d(0, 1, 0, -15deg);  opacity: 1;}
  to {transform: perspective(400px) rotate3d(0, 1, 0, 90deg);  opacity: 0;}
}
@-webkit-keyframes flipOut{
  from {transform: perspective(400px);}
  30% {transform: perspective(400px) rotate3d(0, 1, 0, -15deg);  opacity: 1;}
  to {transform: perspective(400px) rotate3d(0, 1, 0, 90deg);  opacity: 0;}
}
.flipOut {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipOut;
  -webkit-animation-duration: .75s;
  -webkit-animation-fill-mode: forwards;
  backface-visibility: visible !important;
  animation-name: flipOut;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}
@keyframes flipIn {
  from {  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);  animation-timing-function: ease-in;  opacity: 0;}
  40% {  transform: perspective(400px) rotate3d(0, 1, 0, -20deg);  animation-timing-function: ease-in;}
  60% {  transform: perspective(400px) rotate3d(0, 1, 0, 10deg);  opacity: 1;}
  80% {  transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
  to {  transform: perspective(400px);}
}
@-webkit-keyframes flipOut{
  from {  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);  animation-timing-function: ease-in;  opacity: 0;}
  40% {  transform: perspective(400px) rotate3d(0, 1, 0, -20deg);  animation-timing-function: ease-in;}
  60% {  transform: perspective(400px) rotate3d(0, 1, 0, 10deg);  opacity: 1;}
  80% {  transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
  to {  transform: perspective(400px);}
}
.flipIn {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipIn;
  -webkit-animation-duration: .75s;
  -webkit-animation-fill-mode: forwards;
  backface-visibility: visible !important;
  animation-name: flipIn;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}

/************ Contact Section **************/

#Contact{
  background-color: white;
  height: 600px;
  padding-top: 100px;
  color: gray;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
#contactLogoHolder{
  margin-top: 40px;
}
#Contact img{
  display: inline-block;
}
.contactImgs{
  border:2px solid rgb(60,60,60);
  margin-left: 1%;
  margin-right:1%;
  width:23%;
  height: 100%;
}
.contactImgs img{
  width: 50px;
  margin-top: 27%;
  margin-bottom: 27%;
}
.contactImgs p{
  margin-top: 28%;
  margin-bottom: 25.8%;
  line-height: 50px;
  font-size: 14px;
  color: gray;
  font-weight: 400;
  letter-spacing: 2px;
}
.fill{
  background-color: rgb(60,60,60);
}
#foot{
  height: 80px;
  background-color: rgb(40,40,40);
}
#foot p{
  margin-top: 35px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 200;
  color: white;
}

/* projects */
.project-table {
  max-width: 1200px;
}

@media (max-width: 991px) {
  .project-table {
    max-width: 800px;
  }
}

.project {

}

/* TurnBlock */

.turnBlock {
  cursor: pointer;
  margin: 20px auto;
}

.turnBlock a {
  color: #E80C7A;
  font-weight: normal;
}

.turnBoxButton {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
