<section id="Contact">
  <div class="col-xs-8 col-sm-8 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-3">
    <h2>CONTACT</h2>
    <hr>
    <h4>PLEASE REACH OUT, I'D BE HAPPY TO TALK</h4>
  </div>
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3" id="contactLogoHolder">
    <div class="row">

      <a href="mailto:congcongli@live.com">
        <div class="col-xs-3 contactImgs" ng-class="{'fill':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
          <img src="./css/images/Email.svg" ng-class="{'hide':hovering}">
          <p ng-class="hovering ? 'show' : 'hide'">EMAIL</p>
        </div>
      </a>

      <a href="https://www.linkedin.com/in/congcongli222/" target="_blank">
        <div class="col-xs-3 contactImgs" ng-class="{'fill':hovering1}" ng-mouseenter="hovering1=true" ng-mouseleave="hovering1=false">
          <img src="./css/images/LinkedIn.svg" ng-class="{'hide':hovering1}">
          <p ng-class="hovering1 ? 'show' : 'hide'">LINKEDIN</p>
        </div>
      </a>

      <a href="https://github.com/weirui222" target="_blank">
        <div class="col-xs-3 contactImgs" ng-class="{'fill':hovering2}" ng-mouseenter="hovering2=true" ng-mouseleave="hovering2=false">
          <img src="./css/images/Github.svg" ng-class="{'hide':hovering2}">
          <p ng-class="hovering2 ? 'show' : 'hide'">GITHUB</p>
        </div>
      </a>

      <a href="https://resume.creddle.io/resume/9qnf4wxd5ts" target="_blank">
        <div class="col-xs-3 contactImgs" ng-class="{'fill':hovering3}" ng-mouseenter="hovering3=true" ng-mouseleave="hovering3=false">
          <img src="./css/images/Resume.svg" ng-class="{'hide':hovering3}">
          <p ng-class="hovering3 ? 'show' : 'hide'">RESUME</p>
        </div>
      </a>

    </div>
  </div>
</section>
