<div id="container-fluid" du-scroll-container>
  <header>
  <img src="./css/images/above-adventure-aerial-air.jpg" class="bg">
    <div class="container-fluid">

      <div class="typeContain col-xs-12">
        <p typewrite type-delay="50" blink-cursor="true" text="['LET\&#39;S MAKE
        THE WORLD A LITTLE BETTER']"></p>
      </div>
    </div>
  </header>

  <div ng-include="'./views/about.html'"></div>

  <div ng-include="'./views/work.html'" onload="onWorkLoaded()"></div>

  <div ng-include="'./views/contact.html'"></div>

  <section>
  	<div id="foot">
  		<p class="col-xs-12">CONGCONG LI 2017</p>
  	</div>
  </section>
</div>
