<section id="Work">
  <div class="col-xs-8 col-sm-8 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-3">
    <h2>RECENT WORK</h2>
    <hr>
    <h4>CLICK BOX FOR DESCRIPTION</h4>
  </div>

  <div class="container-fluid col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="turnBlock" id="tic_tac_toe">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/tic_tac_toe.png');background-size:100% 100%; border-radius:5px">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343; border-radius:5px">
            <div class="project-desc">
              <h3>
                Tic Tac Toe
              </h3>
              <p>
                Implement AI by minimax algorithm.
              </p>
              <ul class="list-inline">
                <li><a href="https://weirui222.github.io/tic-tac-toe/" class="btn-social btn-outline" target="blank"><i class="fa fa-info"></i></a></li>
                <li><a href="https://github.com/weirui222/tic-tac-toe" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="turnBlock" id="link_game">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/linkgame.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Link Game
              </h3>
              <p>
                Implement AI by minimax algorithm.
              </p>
              <ul class="list-inline">
                <li><a href="https://weirui222.github.io/link-game/" class="btn-social btn-outline" target="blank"><i class="fa fa-info"></i></a></li>
                <li><a href="https://github.com/weirui222/link-game" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="turnBlock" id="hetrix">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/hetrix.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Hetrix
              </h3>
              <p>
                Draw hex on canvas, use BFS to get the same connected hexes, use Postgres to save scores.
              </p>
              <ul class="list-inline">
                <li><a href="https://hetris.herokuapp.com/" class="btn-social btn-outline" target="blank"><i class="fa fa-info"></i></a></li>
                <li><a href="https://github.com/weirui222/hetris" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="turnBlock" id="hetrix">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/innercircle.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Inner Circle
              </h3>
              <p>
                Angular | Postgres.
              </p>
              <ul class="list-inline">
                <li><a href="https://inner-circle-lcc.herokuapp.com/" class="btn-social btn-outline" target="blank"><i class="fa fa-info"></i></a></li>
                <li><a href="https://github.com/weirui222/inner-circle" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="turnBlock" id="hetrix">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/metrotrip.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Metro Trip Advisor
              </h3>
              <p>
                React | Postgres.
              </p>
              <ul class="list-inline">
                <li><a href="https://metro-trip-advisor.herokuapp.com/" class="btn-social btn-outline" target="blank"><i class="fa fa-info"></i></a></li>
                <li><a href="https://github.com/brianbixby/MetroTripAdvisor" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="turnBlock" id="hetrix">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/wordtwister.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Word Twister
              </h3>
              <p>
                React.
              </p>
              <ul class="list-inline">
                <li><a href="" class="btn-social btn-outline" target="blank"><i class="fa fa-info"></i></a></li>
                <li><a href="https://github.com/Crateros/word-twister" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

</section>
