<section id="Work">
  <div class="col-xs-8 col-sm-8 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-3">
    <h2>RECENT WORK</h2>
    <hr>
    <h4>CLICK BOX FOR DESCRIPTION</h4>
  </div>

  <div class="container-fluid row">
    <div class="col-sm-6">
      <div class="turnBlock" id="pennypost-block" style="margin: 0 auto;">
        <div class="turnBoxButton front">
          <div class="icon-block" style="height: 100%; background: url('./css/images/linkgame.jpg');background-size:100% 100%; ">
            <div class="icon-label">FitBuddi</div>
          </div>
        </div>
        <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;">
          <div class="project-desc">
            <h3>Pennypost
              <small>
                <i class="devicons devicons-ionic"></i>
                <i class="devicons devicons-angular"></i>
                <i class="devicons devicons-html5"></i>
                <i class="devicons devicons-css3_full"></i>
                <i class="devicons devicons-nodejs_small"></i>
              </small>
              <p class="pull-right">
                <a href="http://pennypost.me" target="_blank"><i class="fa fa-globe"></i></a>
              </p>
            </h3>
            <p>
              Pennypost is a startup due to launch in the next few months. As part of a team of more than 12 developers, designers, and UX researchers, I am primarily contributing to back end integration with the Facebook Graph API.
            </p>
            <p class="text-muted">
              <i class="fa fa-users"></i> Collaboration
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="turnBlock" id="fitbuddi-block" style="margin: 0 auto;">
        <div class="turnBoxButton front">
          <div class="icon-block" style="height: 100%; background: url('./css/images/tic_tac_toe.jpg');background-size:100% 100%; ">
            <div class="icon-label">FitBuddi</div>
          </div>
        </div>
        <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;">
          <div class="project-desc">
            <h3>
              FitBuddi
              <small>
                <i class="devicons devicons-ionic"></i>
                <i class="devicons devicons-angular"></i>
                <i class="devicons devicons-html5"></i>
                <i class="devicons devicons-css3_full"></i>
                <i class="devicons devicons-sass"></i>
                <i class="devicons devicons-firebase"></i>
                <i class="devicons devicons-android"></i>
              </small>
              <p class="pull-right">
                <a href="http://github.com/jsakalys/fitbuddi#readme" target="_blank"><i class="fa fa-globe"></i></a>
                <a href="http://github.com/jsakalys/fitbuddi" target="_blank"><i class="fa fa-code-fork"></i></a>
              </p>
            </h3>
            <p>
              FitBuddi is a virtual pet app that doubles as a fitness companion. Based on how many steps you take in a day, your fitBuddi's health will be high or low, giving users a visual representation of their own condition.
            </p>
            <p class="text-muted">
              <i class="fa fa-mobile"></i> Hybrid App
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
