<section id="Work">
  <div>
    <h2>RECENT WORK</h2>
    <hr>
    <h4>CLICK BOX FOR DESCRIPTION</h4>
  </div>

  <div class="container-fluid project-table">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 project">
        <div class="turnBlock">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/metrotrip.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Metro Trip Advisor
              </h3>
              <p>
                React | Express | PostgreSQL
              </p>
              <ul class="list-inline">
                <li><a href="https://metro-trip-advisor.herokuapp.com/" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="https://github.com/brianbixby/MetroTripAdvisor" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 project">
        <div class="turnBlock">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/tic-tac-toe.png');background-size:100% 100%; border-radius:5px">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343; border-radius:5px">
            <div class="project-desc">
              <h3>
                Tic Tac Toe
              </h3>
              <p>
                HTML | CSS | JavaScript
              </p>
              <ul class="list-inline">
                <li><a href="https://weirui222.github.io/tic-tac-toe/" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="https://github.com/weirui222/tic-tac-toe" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 project">
        <div class="turnBlock">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/innercircle.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Inner Circle
              </h3>
              <p>
                Node | Express | PostgreSQL
              </p>
              <ul class="list-inline">
                <li><a href="https://inner-circle-lcc.herokuapp.com/" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="https://github.com/weirui222/inner-circle" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 project">
        <div class="turnBlock">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/hetrix.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Hetrix
              </h3>
              <p>
                Canvas | JavaScript
              </p>
              <ul class="list-inline">
                <li><a href="https://hetris.herokuapp.com/" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="https://github.com/weirui222/hetris" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 project">
        <div class="turnBlock">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/linkgame.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Link Game
              </h3>
              <p>
                HTML | CSS | JavaScript
              </p>
              <ul class="list-inline">
                <li><a href="https://weirui222.github.io/link-game/" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="https://github.com/weirui222/link-game" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 project">
        <div class="turnBlock">
          <div class="turnBoxButton front">
            <div class="icon-block" style="height: 100%; background: url('./css/images/wordtwister.png');background-size:100% 100%;border-radius:5px ">
            </div>
          </div>
          <div class="turnBoxButton turnBoxButtonPrev back" style="background-color:#434343;border-radius:5px">
            <div class="project-desc">
              <h3>
                Word Twister
              </h3>
              <p>
                React | CSS
              </p>
              <ul class="list-inline">
                <li><a href="https://weirui222.github.io/word-twister/build/" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="https://github.com/weirui222/word-twister" class="btn-social btn-outline" target="blank"><i class="fa fa-code-fork"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
